.score-card {
  position: relative;
  background: #fbfbfb;
  border-radius: 5px;
  padding: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.score-card__title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #20253A;
}

.score-card__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}

.score-card__value {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #282D30;
}

.score-card__label {
  margin: 4px 0 0 0;
  font-size: 12px;
  color: #74798C;
  line-height: 1.2;
}